.technicians-container {
    flex: 1;
    display: flex;
    margin: 20px;
    background-color: #c0c0c0;
    overflow: hidden;
}

.technicians-list {
    flex: 1;
    overflow-y: auto;
    margin: 10px 0;
    padding: 0 30px;
}

.technicians-list-item {
    text-decoration: none;
    color: inherit;
}