.ticket {
  border: 1px solid #000000;
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 3px 3px #00000085;
  transition: background-color 0.3s ease;
}

.ticket:hover {
  background-color: #cccccc;
}

.ticket-subject {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 1000px;
}

.ticket-details {
  margin: 5px 0;
  color: #333333;
}

.priority-low {
  color: #818018;
}

.priority-medium {
  color: #d37f00;
}

.priority-high {
  color: #ff0000;
}

.priority-critical {
  color: #800000;
}